<app-popup>
  <h1>Olá Popup</h1>
</app-popup>

<section class="page">

  <h1>
    Cadastro de Pessoas
  </h1>
  <div class="page__action">
    <button type="button" class="btn btn--green" (click)="openPopup()">Cadastrar</button>
  </div>

  
  <div class="page__table">
    <table class="table">
      <thead>
        <tr>
          <th class="th--green">
            Nome
          </th>
          <th class="th--green">
            CPF
          </th>
          <th class="th--green">
            Telefone
          </th>
          <th class="th--green">
            Opções
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of persons">
          <td>{{person.name}}</td>
          <td>{{person.cpf | cpf}}</td>
          <td>{{person.phone | phone}}</td>
          <td>
            <button class="btn btn-clear--purple" type="button"><span class="icon icdocument-edit"></span></button>
            <button class="btn btn-clear--purple" type="button"><span class="icon ictrash-can"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>