@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?7z709m');
  src:  url('fonts/icon.eot?7z709m#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?7z709m') format('truetype'),
    url('fonts/icon.woff?7z709m') format('woff'),
    url('fonts/icon.svg?7z709m#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icdocument-edit:before {
  content: "\e900";
}
.ictrash-can:before {
  content: "\e901";
}
