$green: #37c73b;
$purple: #764dc1;
$green-light: #b7f01b;
$yellow: #ffdd00;
$light: #f5f5f5;
$grey: #ccc;
$red: #e61c0d;

$colors: (
  "green": $green,
  "purple": $purple,
  "green-light": $green-light,
  "yellow": $yellow,
  "light": $light,
  "grey": $grey,
  "red": $red
);
